{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}

<div class="ftco-blocks-cover-1">

      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5"><br/><br/>
              <span class="text-cursive h5 text-red">Linear Results</span>
              <h3 class="mb-3 font-weight-bold text-teal">
                  Accuracy = <strong class="btn btn-block btn-primary text-white py-3 px-5"> {{accuracy}}</strong> <br/>
                  Precesion =<strong class="btn btn-block btn-primary text-white py-3 px-5"> {{precesion}} </strong><br/>
                  Recall = <strong class="btn btn-block btn-primary text-white py-3 px-5">{{recall}}</strong> <br/>
                  Chitest = <strong class="btn btn-block btn-primary text-white py-3 px-5">{{chitest}}</strong> <br/>

              </h3>


            </div>
            <div class="col-md-6 ml-auto align-self-end">
              <img src="{% static 'images/kid_transparent.png'%}" alt="Image" class="img-fluid">

            </div>
          </div>
        </div>
      </div>
    </div>


{%endblock%}