{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}

<div class="ftco-blocks-cover-1">

      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Interpretable Machine Learning in Healthcare through Generalized Additive Model with Pairwise Interactions (GA2M) Predicting Severe Retinopathy of Prematurity</span>
              <h1 class="mb-3 font-weight-bold text-teal">Considerations on Statistical Values & Best-Fit Model</h1>
              <p>Moving on, we wanted to evaluate how the goodness of fit of our model changed as more covariates and interaction terms were added.</p>
              <p class="mt-5"><a href="https://ieeexplore.ieee.org/document/8876951" target="_blank" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
              <img src="{% static 'images/kid_transparent.png'%}" alt="Image" class="img-fluid">

            </div>
          </div>
        </div>
      </div>
    </div>


{%endblock%}