{%extends 'admins/adminbase.html'%}
{%load static%}

{%block contents%}
<div class="site-section bg-info">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Classification You Like</span>
            <h2 class="text-white">Generalized Additive Model</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{%static 'images/flaticon/svg/001-jigsaw.svg'%}" alt="Image" class="img-fluid"></span>
              <h3 class="text-teal">World Health Organization</h3>
              <p>WHO estimates that, out of the 130 million babies born annually, around 15 million babies are born prematurely, before 37 completed weeks of gestation. Approximately 1 million children die each year due to complications of preterm birth</p>

            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{%static 'images/flaticon/svg/002-target.svg'%}" alt="Image" class="img-fluid"></span>
              <h3 class="text-success">Retinopathy of Prematurity</h3>
              <p>Retinopathy of Prematurity (RoP) was first reported by Terry in 1942 as a developmental, vascular, and proliferative retinal disorder occurring in the premature newborns’ retinas that have not completed vascularization</p>

            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="{%static 'images/flaticon/svg/003-mission.svg'%}" alt="Image" class="img-fluid"></span>
              <h3 class="text-danger">Clinical data</h3>
              <p>The clinical data for our analysis was collected by the Newborn Clinic meterenity hospitals. we will enter data as manual</p>

            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock%}